<table class="table">
    <thead>
      <tr>
        <th style="width: 10%">
            <a href="/launch">Launch</a>
        </th>
        <th style="width: 10%">
          <a href="/join">Join</a>
        </th>
        <th style="width: 10%">
          <b>Watch</b>
        </th>
        <th style="width: 90%">
          <a href="/">Sign Out</a>
        </th>
      </tr>
    </thead>
</table>

<h3>Watch sessions</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <td>Date</td>
      <td>Game</td>
      <td>Player</td>
      <td>Turns</td>
      <td>Style</td>
      <td></td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let it of sessions">
      <td>{{it.created | date: 'dd/MM/yyyy'}}</td>
      <td>{{it.game}}</td>
      <td>{{it.player_name}}</td>
      <td>{{it.last_turn}}</td>
      <td>
        <div *ngIf="isStyled(it.game_id)">
          <select class="form-control" name="it.style" [(ngModel)]="it.style">
            <option *ngFor="let s of getStyles(it.game_id)" [value]="s.id">
                {{ s.name }}
            </option>
          </select>
        </div>
      </td>
      <td>
        <input
        type="button"
        value="Join"
        (click)="join(it)"
        class="btn btn-success"
        />
      </td>
    </tr>
  </tbody>
</table>
